src/test/resources/sanity-checks/all_ldap.yaml
id: all_ldap
namespace: sanitychecks.plugin-ldap

tasks:
  - id: write_ion
    type: io.kestra.plugin.core.storage.Write
    content: |
      {dn:"cn=alice,ou=people,dc=example,dc=com",attributes:{cn:["alice"],mail:["alice@example.com"],description:["Kestra sanity"]}}
      {dn:"cn=bob,ou=people,dc=example,dc=com",changeType:"delete"}
    extension: .ion

  - id: ion_to_ldif
    type: io.kestra.plugin.ldap.IonToLdif
    inputs:
      - "{{ outputs.write_ion.uri }}"

  - id: ldif_to_ion
    type: io.kestra.plugin.ldap.LdifToIon
    inputs:
      - "{{ outputs.ion_to_ldif.urisList[0] }}"

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.ion_to_ldif.urisList | length == 1 }}"
      - "{{ outputs.ldif_to_ion.urisList | length == 1 }}"
      - "{{ read(outputs.ion_to_ldif.urisList[0]) contains 'dn: cn=alice,ou=people,dc=example,dc=com' }}"
      - "{{ read(outputs.ion_to_ldif.urisList[0]) contains 'changetype: delete' }}"
      - "{{ fromIon(read(outputs.ldif_to_ion.urisList[0]), allRows=true) | length == 2 }}"
      - "{{ fromIon(read(outputs.ldif_to_ion.urisList[0]), allRows=true)[0].attributes.mail[0] == 'alice@example.com' }}"
      - "{{ fromIon(read(outputs.ldif_to_ion.urisList[0]), allRows=true)[1].changeType == 'delete' }}"

finally:
  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
